body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .parallax {
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .parallax-bg {
    background-image: url('/Images/Background.jpg'); /* Replace 'background.jpg' with your image path */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: translateZ(-1px) scale(2);
  }
  
  .parallax-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000000;
  }
  
  .main-content {
    height: auto; /* Adjust height as needed */
    padding: 20px;
    display: solid;
    padding: 25px;
    background-color: aquamarine;
  }

  img{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }

  video{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }

  h1{
    font-size: 500%;
    text-shadow:
                    -1px -1px 0 #ffffff,  
                    1px -1px 0 #ffffff,
                    -1px 1px 0 #ffffff,
                    1px 1px 0 #ffffff;
  }
  